@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        @*@if ((Model.Input.IsBachelorStudent && Model.Input.IsMasterStudent && Model.Input.IsDoctorStudent) || (Model.Input.IsBachelorStudent && Model.Input.IsMasterStudent) || (Model.Input.IsBachelorStudent && Model.Input.IsDoctorStudent) || (Model.Input.IsDoctorStudent && Model.Input.IsMasterStudent)|| (Model.Input.CS && Model.Input.IT))
        {
            <label class="text-danger">Please chose one level of study and one branch </label>
        }*@
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">User Name</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">Second Name</label>
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.ThirdName">Third Name</label>
                <input asp-for="Input.ThirdName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @{
                if (User.IsInRole("Student"))
                {
                    <div class="form-group">
                        <label asp-for="Input.StudentAvgPreviousYear"></label>
                        <input asp-for="Input.StudentAvgPreviousYear" class="form-control" />
                        <span asp-validation-for="Input.StudentAvgPreviousYear" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.IsMasterStudent"></label>
                        <input asp-for="Input.IsMasterStudent" />
                        <span asp-validation-for="Input.IsMasterStudent"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.IsBachelorStudent"></label>
                        <input asp-for="Input.IsBachelorStudent" />
                        <br />
                        <input asp-for="Input.IT" />IT
                        <input asp-for="Input.CS" />CS
                        <span asp-validation-for="Input.IsBachelorStudent" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.IsDoctorStudent"></label>
                        <input asp-for="Input.IsDoctorStudent" />
                        <span asp-validation-for="Input.IsDoctorStudent" class="text-danger"></span>
                    </div>
                }
            }

            @{
                if (User.IsInRole("Professor") || User.IsInRole("SystemAdmin"))
                {
                    <div class="form-group">
                        <label asp-for="Input.ProfessorSpecialization"></label>
                        <input asp-for="Input.ProfessorSpecialization" class="form-control" />
                        <span asp-validation-for="Input.ProfessorSpecialization" class="text-danger"></span>
                    </div>
                }
            }


            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}