@model IEnumerable<ProjectManagement.DataContextModels.Project>

@{
    ViewData["Title"] = "Index";
}


<script type="text/javascript">
    var grid;

    $(document).ready(function () {

        // Load Grid using json object
        grid = $("#grid").grid({
            dataKey: "id",
            uiLibrary: "bootstrap",
            columns: [
                { field: "projectName", title: "Project Title", sortable: true, width: 40 },
                { field: "studentName", title: "Student Name", sortable: true, width: 40 },
                { field: "professor", title: "Supervisor Name", sortable: true, width: 30 },
                { field: "projectType", title: "Project Type", sortable: true, width: 30 },
                { field: "projectBranch", title: "Project Branch", sortable: true, width: 30 },



            ],
            pager: { enable: true, limit: 40, sizes: [2, 5, 10, 20, 40] }
        });

    });

    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }




    //// Search
    //function Search() {
    //    grid.reload(
    //        {
    //            projectName: $("#projectName").val(),
    //            projectType: $('#projectType').val(),
    //            isApproved: $("#isApproved").prop("checked"),
    //            isClosed: $('#isClosed').prop("checked"),
    //            page: 1
    //        });
    //}


</script>
<h2>Reports</h2>


@*<div>
        <div>
            <table class="table" style="width:70%">
                <tr>
                    <td>
                        <strong>Project Title</strong>
                    </td>
                    <td>
                        <input id="projectName" name="projectName" class="form-control" />
                    </td>
                    <td>
                        <strong>Project Type</strong>
                    </td>
                    <td>

                        <select id="projectType" name="projectType" class="form-control">
                            <option value="Select">Select ...</option>
                            <option value="Bachelor">Bachelor</option>
                            <option value="Master">Master</option>
                            <option value="Doctorate">Doctorate</option>
                        </select>
                    </td>


                </tr>
                <tr>

                    <td>
                        <input id="isApproved" name="isApproved" type="checkbox" />Approved
                    </td>
                    <td>
                        <input id="isClosed" name="isClosed" type="checkbox" />Assigned
                    </td>
                    <td></td>

                    <td>
                        <button type="button" id="btnSearch" class="btn btn-default" onclick="Search();">
                            <span class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr />*@
<h1>Undergraduate  Reports</h1>
<div class="panel panel-default">
    <div id="div1">
        <table id="grid" class="table-responsive" data-source="@Url.Action("GetReports")"></table>
    </div>
    <button class="btn btn-primary" style="margin: 10px" onclick="printContent('div1')">Print Content</button>
    <input type="button" value="Get Excel Report" class="btn btn-primary" onclick="location.href = '@Url.Action("GetExcelFile", "Projects")'" />
</div>

<a asp-action="PostgraduateReports" class="btn btn-primary">Postgraduate Reports</a>

@*<h1>Postgraduate Reports</h1>
    <div class="panel panel-default">
       
        <div id="div2">
            <table id="gridpostgraduate" class="table-responsive" data-source="@Url.Action("GetPostgraduateReports")"></table>
        </div>
    <button class="btn btn-primary" style="margin: 10px" onclick="printContent('div2')">Print Content</button>
    </div>*@
      