@using Microsoft.AspNetCore.Identity
@inject UserManager<ProjectManagement.DataContextModels.ApplicationUser> _UserManager
@inject SignInManager<ProjectManagement.DataContextModels.ApplicationUser> _SignInManager
@{
    ViewData["Title"] = "Home Page";
}


<style>



details {
  margin: 1rem;
}
summary {
  font-weight: bold;
}</style>
<img src="~/images/Logo2.png" alt="Snow" style="width: 14%; height: 30%; margin-top: 4%; margin-right: 11%;">
<label style="margin-top: 4%"> <h1>Computer Science  Department</h1></label>

<img src="~/images/Logo3.jpg" alt="Mountains" style="width: 14%; height: 10%;margin-left: 15%;margin-top: 4%">


<div style="position: inherit; align-Items: center; display: flex; flex-Direction: row; flex: 2; ">


    <div style="flex: 1; align-self: center; padding-right: 50px; max-Height: 500px; top: 200px; width: 30%;">

        <div>
            <p>
                <strong>IT for Education and Satisfaction.</strong><br />
                                                                   <div dir="rtl">
                                                                       <h5>مشروع التخرج هو فرصة الطالب والتدريسي المشرف ليترجما معا ما لديهما من معارف ومهارات.</h5>
                                                                     
                                                                           <details dir="rtl">

                                                                               <summary><a>لمزيد من التفاصيل اضغط هنا</a> </summary>
                                                                   
<p>
                يفخر قسم علوم الحاسوب في كلية العلوم الجامعة المستنصرية بأنه يعتمد هذا النظام الالكتروني Web based platform لتمكين التدريسي المشرف من اقتراح المشاريع وبيان تفاصيل عنها ومتابعة مدى اهتمام الطلبه بها وكذلك تمكين الطالب من الاطلاع على المشاريع المقترحة وتحديد عددا منها كخيارات لتنفيذ أحدها بعد أن يقوم النظام بتخصيصه له بعد حسم التنافس بين الطلبة وفق معياري الرغبة ومعدل السنه الأخيرة،  يتبع ذلك اعلان النتائج للجميع مع ضمان الشفافية والعدالة دون أي مؤثرات أو مداخلات خارجية.
    <br/>
                تم إعداد وتنفيذ النظام من قبل أحد خريجي القسم لسنة ٢٠١٩ السيد سيف عامر وبإشراف الدكتور علاء الطائي.
            </p>
            </details>
        </div>
                In order to manage proposed projects by faculty members in the Department of Computer Science at the Faculty of Science,
                Mustansiriya University by electronic system, then enable the bachelor and postgraduate students to be informed, review
                and determine the choices electronically, so it was necessary to achieve a web based platform according to specific
                criteria which have been anounced previously.
                <br />
                @if (!_SignInManager.IsSignedIn(User))
                {
                    if (!User.IsInRole("SystemAdmin") || !User.IsInRole("Supervisor") || !User.IsInRole("Student"))
                    {
                        <br />
                        <b>If you don't have account please register form here</b>
                        <br />
                        <br />
                        <a href="./Identity/Account/Register" class="btn btn-primary">Register as a new user</a>
                    }
                }
            </p>


        </div>



    </div>
    <div dir="rtl" style="width: 40%; padding-left: 60px">
        <img style="padding: 60px 0px; flex: 1;" src="images/logo.svg" />
    </div>
</div>